body{
    background-color: bisque;
    margin: 0;
    padding: 0;
}

.iletişim{
    max-width: 100%;
    height: 100%;
    margin: 20px 300px;
    display: flex;            
    justify-content: center;            
    align-items: center;    
}

.jumbotron {
    background: no-repeat center right fixed url(./images/contact.jpg);
    background-size: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 0px;
    padding: 0px;
    
}

.container {
    position: relative;
    top: 28%;
    z-index: 4;
    text-align: center;
    max-width: 100%;
    
    padding: 40px 180px;
}

.container h1 {
    color: #22A39F;
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 20px;
    font-size: 63px;
    padding-bottom: 20px;
    border-bottom: 2px solid #020202;
    border-bottom-color: rgba(10, 234, 227, 0.35);
    display: inline-block;
}

.lead{
    text-align: center;
    color: #727878;
    font-size: 28px;
}

.col-md-8{
    font-size: 18px;
}

.butonlar{
    padding-left: 350px;
}


